[submodule "bundle/nerdtree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/vim-scripts/surround.vim.git
[submodule "bundle/NERDCommenter"]
	path = bundle/NERDCommenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/vim-scripts/SuperTab.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/vim-scripts/AutoClose.git
