[submodule "bundle/nerdtree"]
	path = bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Align"]
	path = bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/vim-scripts/surround.vim.git
